VITE_SUPABASE_URL=https://ccehnbikmzcuqceziuiy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjZWhuYmlrbXpjdXFjZXppdWl5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyNTgwODMsImV4cCI6MjA4NzgzNDA4M30.4DMr75pkuLLMZBNtagNVf9DvpRN79IQ7c2KqZrtAPLM
